[flake8]
max-line-length = 170
extend-ignore = E203, W503
exclude =
    .git,
    __pycache__,
    venv,
    .venv,
    build,
    dist,
    .eggs,
    *.egg-info,
    frontend,
    node_modules,
    .next,
    static,
    templates,
    *.js,
    *.jsx,
    *.ts,
    *.tsx,
    *.json,
    *.css,
    *.md
