langgraph
langchain_openai
python-dotenv
loguru
fastapi[all]
jinja2
python-multipart
sqlalchemy
rouge-score
scikit-learn
pyngrok
twilio
supabase==2.7.4
boto3
passlib[bcrypt]
itsdangerous
bcrypt
PyGithub
